
img{
	width: 85%;
}
#truth{
	width: 40%;
}
#star{
	width: 40%;
	margin: 0 auto;
}
.centerthings{
	text-align: center;
}
p,h1,h5{
	font-family:sans-serif;	
}
p,h1,h5{
	color:#333;
}

a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}